
body{  /* Background Settings Main Site  
    background: linear-gradient( to bottom, transparent,rgb(48, 46, 46));  */
/*     background-image: url('/static/images/background.jpg');
 */    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: center;
    align-items: center;                 
    justify-content: center;
}