html{
    height: 100%;
    font-family: sans-serif;
}

body{  /* Background Settings Main Site  
    background: linear-gradient( to bottom, transparent,rgb(48, 46, 46));  */
/*     background-image: url('/static/images/background.jpg');
 */    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: center;
    align-items: center;                 
    justify-content: center;
}
/* path => static/css/homepage.css */

.navbar button {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: #FF5733; /* Change the background color */
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.navbar button:hover {
  background: #FF8C00; /* Change the hover background color */
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #FF8C00,
              0 0 25px #FF8C00,
              0 0 50px #FF8C00,
              0 0 100px #FF8C00;
  animation: btn-anim1 1s linear infinite;
}

.navbar {
  position: fixed; /* Pushes the navbar to the top */
  top: 0; /* Ensures the navbar sticks to the top */
  width: 100%; /* Makes the navbar span the entire width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #0000006e;
  color: rgb(231, 224, 224);
}

.navbar-left ul,
.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-left li,
.navbar-right li {
  margin: 0 10px;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
}

.navbar-center form {
  display: inline-block;
}

.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-right li {
  margin: 0 10px;
}

.navbar-right-logged-out ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-right-logged-out li {
  margin: 0 10px;
}

form{  /* Login Form Details */
    background-color: rgb(153, 137, 137);
    opacity: 0.8;                   /* Transparent setting */
    border-radius: 5%;
    padding: 2rem;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 300px;
}

form input,              
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1em;
}

form button{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: rgb(0, 0, 8);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

form button:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    animation: btn-anim1 1s linear infinite;
}

form .errorlist li{
    list-style-type: none;
    color: rgb(216, 6, 17);
}

.resized-image {
    width: 100px;
    height: 75px;   
}  

@media  screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}

@keyframes button {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }

  
/* 
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s */
}
