{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'customstyle.css' %}">

<section class="home-section">
    <h1>Welcome to the Programers Library</h1>

    <div class="course-pair">
        <div class="book-block" style="width: 600px;">
            <img src="{% static 'img/harrypotter.jpg' %}" alt="Book 1" style="width: 300px; height: 300px;">
            <h2 style="font-size: 24px;">Harry Potter</h2>
        </div>

        <div class="book-block" style="width: 600px;">
            <img src="{% static 'img/lotr.jpg' %}" alt="Book 2" style="width: 300px; height: 300px;">
            <h2 style="font-size: 24px;">Lord of the Rings</h2>
        </div>
    </div>

    <div class="book-pair">
        <div class="course-block" style="width: 600px;">
            <img src="{% static 'img/godfather.jpg' %}" alt="Book 3" style="width: 300px; height: 300px;">
            <h2 style="font-size: 24px;">God Father</h2>
        </div>

    </div>

</section>


</section>
{% endblock %}