{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Filter Results (Books)</title>
</head>
<body>
  <h1>Filter Results (Books)</h1>
  <form method="get">
    {{ form.as_p }}
    <button type="submit">Filter</button>
  </form>

  {% if items %}
    <h2>Filtered Items</h2>
    <ul>
      {% for item in items %}
        <li>
          <a href="{% url 'shop:book_detail' item.pk %}">Title: {{ item.title }}</a> - Price : {{ item.price }} Author :(by {{ item.author }}) -  Language: {{ item.language }}-genre{{ item.genre }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No items found matching your criteria.</p>
  {% endif %}
</body>
</html>
{% endblock content %}