{% extends 'base.html' %}

{% block list %}
<div class="list-container">
    <h2>All Books</h2>
    <p>Click on the title for more info.</p>
    <div class="row">
        {% for book in all_books %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <a href="{% url 'shop:book_detail' book.pk %}">
                    <img src="{{ book.picture.url }}" alt="{{ book.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'shop:book_detail' book.pk %}">{{ book.title }}</a>
                    </h5>
                    <p class="card-text">Author: {{ book.author }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
