{% extends 'base.html' %}

{% block content %}
  <h2>{{ book.title }}</h2>
  <p>Author: {{ book.author }}</p>
  <p>Category: {{ book.category }}</p>
  <p>Publisher: {{ book.publisher }}</p>
  <p>Publication_date: {{ book.publication_date }}</p>
  <p>Rating: {{ book.rating }}</p>
  <p>Availability: {{ book.availability }}</p>
  <p>Price: {{ book.price }}</p>
  {% if book.picture %}
        <img src="{{ book.picture.url }}" alt="Book Cover">
    {% endif %}

  <h2>Order Form</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Oder now</button>
  </form>

{% endblock %}
