{% extends 'base.html' %}

{% block title %}My Wishlist{% endblock %}

{% block content %}
    <h2>My Wishlist</h2>
    <ul>
        {% for wishlist_book in wishlist_books %}
            <li>
                <img src="{{ wishlist_book.picture.url }}" alt="{{ wishlist_book.title }}" class="wishlist-book-image">
                <p class="card-text">Title: {{ wishlist_book.title }} - Author: {{ wishlist_book.author }}</p>
                <p class="card-text">Price: ${{ wishlist_book.price }}</p>
                <form method="post" action="{% url 'shop:remove_from_wishlist' wishlist_book.pk %}">
                    {% csrf_token %}
                    <button type="submit">Remove from Wishlist</button>
                </form>
                <form method="post" action="{% url 'shop:add_to_cart' wishlist_book.pk %}">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
