{% extends "base.html" %}


{% block content %}
{% if user.is_authenticated %}
    
    <form action="{%  url 'logout' %}" method="post">
        <p><b>Welcome, {{ user.username }}. Thanks for logging in.</b></p>
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
{%  else %}
<form>
    <p>Welcome , new user. Please log in.</p>
    <p><a href="{% url 'login' %}"><b> Log In </a>or <a href="{% url 'register'%}">Register</b></a></p>
</form>
{% endif %}


{% endblock %}