@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
 }

 body {
    font-family: Poppins;
    margin: 0;
    background-image: url("/static/img/homescreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
 }

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(15px);
   position: sticky;
   top: 0;
   width: 100%;
   margin-bottom: 35px;
   z-index: 100;
   color: white;
}

.navbar a {
   color: white;
   text-decoration: none;
   padding: 10px;
}

.navbar a:hover {
   text-decoration: underline;
}

.navbar img {
   width: 45px;
   color: white;
   filter: invert(100%);
}

.navbar-left {
   margin-right: 10px;
}

.navbar-right ul {
   display: flex;
   list-style: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
}

.home-section {
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   margin-bottom: 20px;
   color: white;
}

.list-section {
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   margin-bottom: 20px;
   color: white;
}


.list-section a {
   color: white;
   text-decoration: none;
}

.list-section a:hover {
   text-decoration: underline;
}

.details-section {
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   margin-bottom: 20px;
   color: white;
}