html {
    height: 100%;
    font-family: sans-serif;
}

body {
    /* Background Settings Main Site */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    color: white;
    position: relative;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
}

form {
    /* Login Form Details */
    background-color: rgb(153, 137, 137);
    opacity: 0.8; /* Transparent setting */
    border-radius: 5%;
    padding: 2rem;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 300px;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1em;
}

form button,
.remove-item { /* Applying the same styling to the .remove-item class */
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: rgb(0, 0, 8);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

form button:hover,
.remove-item:hover { /* Applying the same hover effect */
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    animation: btn-anim1 1s linear infinite;
}

form .errorlist li {
    list-style-type: none;
    color: rgb(216, 6, 17);
}



.resized-image {
    width: 100px;
    height: 75px;   
}  


@media screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}

@keyframes button {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
   
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-list a {
    color: #78387a; /* Set link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
    transition: color 0.3s ease-in; /* Smooth transition effect for color change */
}

.contact-list a:hover {
    color: #0056b3; /* Change link color on hover */
}


.genre-list a {
    color: #78387a; /* Set link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
    transition: color 0.3s ease-in; /* Smooth transition effect for color change */
}

.genre-list a:hover {
    color: #0056b3; /* Change link color on hover */
}

.contact-list
{
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-link {
    color: #d400ff; /* Blue color for links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
}

.contact-link:hover {
    text-decoration: underline; /* Add underline on hover */
    color: blue;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Ensure the navbar stays on top of other content */
    background-color: #333; /* Dark background color */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Dark background color */
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ddd; /* Light gray background color on hover */
    color: black;
  }
  
.wishlist-book-image {
    max-width: 200px; /* Adjust the maximum width as needed */
    max-height: 200px; /* Adjust the maximum height as needed */
  }

.distance {
    margin-top: 14700px; /* Adjust the value based on the height of your navbar */
}
/* 
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s */
